html {
  width: 100%;
}

body {
  background-color: #FAFAFA;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

h1 {
  text-align: center;
  color: #33cc33;
  font-size: 70px;
  font-family: "Segoe UI", Arial, sans-serif;
}

.header {
  position: relative;
  top: -70px;
  left: 0;
  height: 100px;
  margin-top: 80px;
  width: 100%;
  transition: 0.5s ease;
}

.menu_bar {
  height: 200px;
  width: 100%;
  background-color: #33cc33;
  padding: 0;
  margin: 0;
  transition: 0.5s ease;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.menu_item {
  width: 100%;
  float: top;
  height: 35px;
  color: white;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 20px;
  padding-top: 15px;
  text-align: center;
  transition: 0.5s ease;
}

.menu_item:hover {
  background-color: #70db70;
  transition: 0.5s ease;
}

.content {
  width: 90%;
  position: relative;
  left: 5%;
  top: 50px;
  padding: 40px;
  margin: 0;
  background-color: #EEEEEE;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 23px;
  color: #222;
  box-sizing: border-box;
}

@media only screen and (min-width: 715px) {
  .header {
    top: 0;
    transition: 0.5s ease;
  }

  .menu_item {
    width: 25%;
    float: left;
    transition: 0.5s ease;
  }

  .menu_bar {
    height: 50px;
    padding-left: 0;
    transition: 0.5s ease;
  }
}
