.mod_author {
    font-size: 15px;
}

#mod_img {
    width: 75%;
    margin-bottom: 20px;
}

.mod_header {
    position: relative;
    top: 0;
    left: 0;
    height: 100px;
    margin-top: 80px;
    width: 100%;
}